{% extends 'base.html.twig' %}

{% block title %}Nouvel Auteur{% endblock %}

{% block body %}
 
 
    <h1>
    {% block pageTitle %} Nouvel Auteur SymfonyForm {% endblock %}
    </h1>
    {{ form(form) }}


{% endblock %}