{% extends 'base.html.twig' %}

{% block title %}Nouvelle Catégorie {% endblock %}

{% block body %}
 

    <h1> 
    {% block pageTitle %} Nouvelle Catégorie SymfonyForm {% endblock %}
    </h1>
    {{ form(form) }}


{% endblock %}