{% extends 'front/home/home.html.twig' %}

{% block title %}Recherche de livres{% endblock %}
{% block pageTitle %} Recherche de livres {% endblock %}
{% block subTitle %}
    {{ form(form) }}
{% endblock %}
{% block subTitle2 %}
<p>Nombre de résultats de la recherche: {{nbResult}}</p>
{% endblock %}