{% extends 'base.html.twig' %}

{% block title %}Nouvelle Maison d'édition{% endblock %}

{% block body %}
 

    <h1> 
    {% block pageTitle %} Nouvelle Maison d'édition {% endblock %}
    </h1>
    {{ form(form) }}


{% endblock %}